* {
  /*Zerando pro margin e padding não influenciar na lagura das coisas*/
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
  height: 95vh; /*Altura total da página*/
  background:black;/*cor da página*/
}

.tabuleiro {
  display: grid;
  width: 100%;
  height: 87%;
  /*Centraliza o bord*/
  display: grid;
  justify-content: center;
  align-content: center;
  /*Centraliza a posicoes*/
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto); /*Dá três centrimetros de altura e implementa a largura que precisar*/
}
/*Faz com que as formas fiquem transparentes no hover*/
.tabuleiro.x .posicoes:not(.x):not(.circulo):hover::after,
.tabuleiro.x .posicoes:not(.x):not(.circulo):hover::before,
.tabuleiro.circulo .posicoes:not(.x):not(.circulo):hover::after,
.tabuleiro.x .posicoes:not(.x):not(.circulo):hover::before {
  background: #73b387 !important; /*!important -- dá prioridade sobre o background do .posicoes*/
}

/* Célula */
.posicoes {
  border: 2px solid #73b387; /*Cor das linhas do jogo*/

  width: 100px;
  height: 100px;
  /*Centraliza os intems dentro do posicoes*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /*para o .x/.circulo::before e .x/.circulo::after não obedecerem ao fluxo da página*/
}
/*As células que já tiverem circulo ou x não vão pode ser selecionadas*/
.posicoes.x,.posicoes.circulo {
  cursor: not-allowed;
}
/*nth-child(E) -- selecionar um elemento(E) em um grupo (posicoes)
Removendo as bordas extras do top*/
.posicoes:nth-child(1),.posicoes:nth-child(2),.posicoes:nth-child(3) {
  border-top: none;
}
/*Removendo as bordas extras da esquerda*/

.posicoes:nth-child(1),.posicoes:nth-child(4),.posicoes:nth-child(7) {
  border-left: none;
}

/*Removendo as bordas extras de baixo*/
.posicoes:nth-child(7),.posicoes:nth-child(8),.posicoes:nth-child(9) {
  border-bottom: none;
}

/*Removendo as bordas extras direita*/
.posicoes:nth-child(3),.posicoes:nth-child(6),.posicoes:nth-child(9) {
  border-right: none;
}

/* X 
Seleciona a clase que tem o x ".posicoes.x" */
.posicoes.x::before,/* Perna esquerda*/
.posicoes.x::after,/* Perna Direita*/
/*Seleciona as divs .tabuleiro (passa a classe x para o tabuleiro e seleciona a posicoes que coresponde ao hover pra mostar)*/
.tabuleiro.x .posicoes:not(.x):not(.circulo):hover::after,
.tabuleiro.x .posicoes:not(.x):not(.circulo):hover::before {
/*:not(.x e .circulo) delimita que as div que já tiverem a classe x ou cirulo não podem receber o hover circulo)*/
content: "";
  /*Seleciona tada área do posicoes*/
  height: calc(100px * 0.15);/*15% da altura*/
  width: calc(100px * 0.9);/*90% da lagura*/
  background: #73b387;
  position: absolute;/*para o .x::before e .x::after não obedecerem ao fluxo da página com a implementação da linha 45*/
}

/*Roda o before*/
.posicoes.x::before,
/*Seleciona as divs .tabuleiro (passa a classe x para o tabuleiro e seleciona a posicoes que coresponde ao hover pra mostar)*/
.tabuleiro.x .posicoes:not(.x):not(.circulo):hover::before {
  transform: rotate(45deg);
}
/*Roda o after*/
.posicoes.x::after,
/*Seleciona as divs .tabuleiro (passa a classe x para o tabuleiro e seleciona a posicoes que coresponde ao hover pra mostar)*/
.tabuleiro.x .posicoes:not(.x):not(.circulo):hover::after {
  transform: rotate(-45deg);
}

/* circulo 
Seleciona as divs .posicoes*/
.posicoes.circulo::before,
.posicoes.circulo::after,
/*Seleciona as divs .tabuleiro (passa a classe circulo para o tabuleiro e seleciona a posicoes que coresponde ao hover pra mostar)*/
.tabuleiro.circulo .posicoes:not(.x):not(.circulo):hover::after,
.tabuleiro.circulo .posicoes:not(.x):not(.circulo):hover::after {
/*:not(.x e .circulo) delimita que as div que já tiverem a classe x ou cirulo não podem receber o hover circulo)*/
  content: "";
  height: calc(100px * 0.9);/*90% da lagura*/
  width: calc(100px * 0.9);/*90% da lagura*/
  background: #73b387;
  position: absolute;/*para o .circulo::before e .circulo::after não obedecerem ao fluxo da página com a implementação da linha 45*/
  border-radius: 50%;/*Pra ficar com formato de circulo*/
}
.infGame {
  display: none;
  height: 10%;
  justify-content: space-evenly;
  margin: 1rem;
}
.conteiner-infGame{
  width: 100%;
  text-align: center;
  color: #73b387;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
/* Mensagem de Vitória */
.pagina {
  display: none;/*Não mostra a mensagem, ele é manipulado dinamicamente com o JS*/
  /*Faz com que a mensagem vá para a frente de todo o arquivo*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*Centraliza tudo*/
  justify-content: center;
  align-items: center;
  /*Dá aquela tela cinza no fundo da mensagem*/
  background-color: rgb(5 45 24 / 58%);
  /*Faz com que os itens fiquem um em cima do outro*/
  flex-direction: column;
}
/*Hover do botão*/
.button:hover {
  color: rgba(65, 185, 131, 1);
  background-color: #73b387;
}
/*Texto do resultado do jogo*/
.texto-mensagem-vitoria {
  color: white; /*Cor da letra*/
  font-size: 5rem; /*Tamanho da letra*/
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; /*Fonte da letra*/
}
/*StasMensage
Botão da mensagem de star*/
.button {
  font-size: 2.5rem;/*Tamanho do botão*/
  background-color: rgba(65, 185, 131, 1); /*Cor de fundo do botão*/
  color: white; /*Cor do texto que é exibido*/
  cursor: pointer;
  /*Estilização da borda*/
  border-radius: 5px;
  border: none;
  /*Eslitização do espaço interno do texto*/
  padding: 10px 15px;
  margin-top: 16px;
}
/*Texto que pega os nomes dos jogadores*/
.text-show {
  width: 100%;
  text-align: center;
  font-weight: 600;
  display: grid;
  justify-items: center;
  color: white; /*Cor da letra*/
  font-size: xxx-large; /*Tamanho da letra*/
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; /*Fonte da letra*/
}
.pagina input{
  text-align:center;
  font-weight: 600;
  color:white;
  width: 280px;
  font-size: 2.5rem;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  margin-top: 16px;
  background-color:rgb(65 185 131 / 70%);
}
.aparecer {
  display: flex;
}
.jogadorVez{
  transition: 450ms linear;
  color: white;
  border-radius: 10cm;
  background: #73b387a6;
  height: fit-content;
  box-shadow: -1px -1px 14px 20px rgb(253 253 253);
}
